<div class="grid-container">
    <mat-grid-list cols="1" rowHeight="350px">
      <!-- about section -->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card-about">
            <mat-card-header>
              <mat-card-title> About this App </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <p>This app was made to help users to easily convert their currencies to other currencies.
                    Individuals as we well as business owners can easily convert any currency of their choice to 
                    another. This makes conducting business a breeze and takes out the stress of always having to look online
                    for conversion rates. Other people people prefer to pull out their calculators for such takes. To this we say no more!
                </p>

                <p>We refresh our exchange rates on <strong>an hourly basis</strong> so you can be rest-assured that you are getting the most 
                    current exchange rates. We search the most prominent exchange rates providers and show the most consistent rate for that 
                    particular hour. We assure of the best rates all the time.
                </p>
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>