<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <!-- sending section -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-sending-section
        [currencies]="currencies"
        [selectedReceivingCurrency]="selectedValueReceiving"
        (updateReceivingAmount)="updateReceivingAmount($event)"
        (updateSelectedValueSending)="updateSelectedValueSending($event)"
      ></app-sending-section>
    </mat-grid-tile>

    <!-- receiving section -->

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-receiving-section
        [currencies]="currencies"
        [receivingAmount]="receivingAmount"
        (updateSelectedValueReceiving)="updateSelectedValueReceiving($event)"
      ></app-receiving-section>
    </mat-grid-tile>
  </mat-grid-list>
</div>
